{% extends 'admin/base.html' %}
<!-- This is for header, we must load branding for admin -->
{% block branding %} {% load static %}
    <h1 id="head">
        <img src="{% static 'img/logos/black-logo.png'%}" alt="logo" class="brand_img" height="50" width="300">
    </h1>

{% endblock %}

<!-- This is for styling the page, we must load extrastyle. We also must create admin.css in our css folder -->
{%block extrastyle%}
    <link rel="stylesheet" href="{%static 'css/admin.css'%}">
{%endblock%}


